@model CategoryDto
<div class="form-floating mb-3">
    <input asp-for="Name" placeholder="" class="form-control" />
    <label asp-for="Name" class="form-label"></label>
    <span asp-validation-for="Name" class="text-danger mt-2"></span>
</div>