@model CategoryDto
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-dark text-white text-center">
                    <h4>Add New Category</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        @* <div class="form-floating mb-3"> 
                            <input asp-for="Name" placeholder="" class="form-control"/>
                            <label asp-for="Name" class="form-label"></label>
                           <span asp-validation-for="Name" class="text-danger mt-2"></span>
                        </div> *@
                        <partial name="CategoryPartialView/_CreateAndEditPartialView" />
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Add</button>
                            <a asp-action="Index" class="btn btn-outline-secondary mt-2">Return to Categories List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Validation{
    <partial name="_ValidationScriptsPartial" />
}

