@model BookDto
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header bg-dark text-white text-center">
                    <h4> Edit Book @Model.Title</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div class="mb-3 form-floating">
                            <input class="form-control" asp-for="ISBN" placeholder="" />
                            <label class="form-label" asp-for="ISBN"></label>
                            <span asp-validation-for="ISBN" class="text-danger"></span>

                        </div>

                        <div class="mb-3 form-floating">
                            <input class="form-control" asp-for="Title" placeholder="" />
                            <label asp-for="Title" class="form-label"></label>
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-floating">
                            <input class="form-control" asp-for="PublishedYear" placeholder="" />
                            <label asp-for="PublishedYear" class="form-label"></label>
                            <span asp-validation-for="PublishedYear" class="text-danger"></span>
                        </div>



                        <div class="d-grid">
                            <button type="submit" class="btn btn-success" asp-action="Edit">
                                <i class="fas fa-save me-3"></i> Save
                            </button>
                            <a asp-action="Index" class="btn btn-outline-secondary mt-2">Return to Book List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

