@model BookDto
<div class="mb-3 form-floating">
    <input class="form-control" asp-for="ISBN" placeholder="" />
    <label class="form-label" asp-for="ISBN"></label>
    <span asp-validation-for="ISBN" class="text-danger"></span>

</div>

<div class="mb-3 form-floating">
    <input class="form-control" asp-for="Title" placeholder="" />
    <label asp-for="Title" class="form-label"></label>
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="mb-3 form-floating">
    <input class="form-control" asp-for="PublishedYear" placeholder="" />
    <label asp-for="PublishedYear" class="form-label"></label>
    <span asp-validation-for="PublishedYear" class="text-danger"></span>
</div>
